<% provide(:title, 'Search Results Users') %>
<h1>検索結果</h1>

<div class="pull-right">
  <%= render 'search_users' %>
</div>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">

    <% @results.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
          
          <% if current_user.admin? && !current_user?(user) %>
             ｜ <%= link_to "削除", user, method: :delete,
                    data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
